body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 610px;
    text-align: center;
}
#container{
    width: 30%;
}
#container h1{
    margin: 0px ;
    font-size: 3em;
    text-decoration: underline;
}
#container input{
    margin-bottom: 10px;
}